


.comments__comment {
  display: flex;
  flex-direction: column;
  max-width: 382px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  
  .comments__comment {
    max-width: 296px;
  }
}
@media screen and (max-width: 768px) {
  
  .comments__comment {
    max-width: 382px;
  }
}


@media screen and (max-width: 425px) {
  .comments__comment:first-of-type {
    margin-top: 16px;
  }
  
  .comments__comment {
    margin-top: 42px;
    max-width: 288px;
  }
}

