.photo-grid__item {
  width: 284px;
  max-height: 188px;
}

@media screen and (max-width: 1268px) {
  
  .photo-grid__item {
    object-fit: cover;
    /* width: calc(100vw/3); */
    width: 100%;
    max-height: 200px;
  }
}

@media screen and (max-width: 768px) {
  
  .photo-grid__item {
    width: 100%;
    box-sizing: border-box;
    max-height: 234px;
  }
}

@media screen and (max-width: 425px) {
  
  .photo-grid__item {
    width: 100%;
    }
}