.lead__image {
  width:100%;
  
}
 
@media screen and (max-width: 1024px) {
  
  .lead__image {
    object-fit: cover;
    max-width: 928px;
    box-sizing: border-box;
  }
}


@media screen and (max-width: 425px) {
  
  .lead__image {
    width:100vw;
    
    
     
  }
}