@import url('../intro/__content-row/intro__content-row.css');
@import url('../intro/__list/intro__list.css');
@import url('../intro/__subtitle/intro__subtitle.css');
@import url('../intro/__text/intro__text.css');
@import url('../intro/__title/intro__title.css');
@import url('../intro/__author/intro__author.css');
@import url('../intro/__list-item/intro__list-item.css');
@import url('../intro/__list-selection/intro__list-selection.css');

.intro { 
  
  margin: 0 auto ;
  max-width: 1184px;
  padding-left: 11.5%;
}

@media screen and (max-width: 1024px) {
  
  .intro {
    box-sizing: border-box;
    padding-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  
  .intro {
    
    max-width: 768px;
    padding-left: 24px;
  }
}
@media screen and (max-width: 425px) {
  
  .intro {
    margin-left: 16px;
    margin-right: 16px;
    padding-left: 0px;
    min-width: 288px;
  }
}